div.Container {
  width: 100%;
  max-width: 1080px;
  padding: 32px 16px;
  margin: 0 auto;
}

div.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 30%;
  aspect-ratio: attr(width) / attr(height);
  margin-bottom: 42px;
}